.frame

.topLeftHandle
  position: absolute
  top: 0
  left: 0
  width: 4px
  height: 4px
  border: 1px solid black
.topRightHandle
  position: absolute
  top: 0
  right: 0
  width: 4px
  height: 4px
  border: 1px solid black
.bottomLeftHandle
  position: absolute
  bottom: 0
  left: 0
  width: 4px
  height: 4px
  border: 1px solid black
.bottomRightHandle
  position: absolute
  bottom: 0
  right: 0
  width: 4px
  height: 4px
  border: 1px solid black
